.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url("http://wallpapercave.com/wp/5Yn3kwG.jpg");
  background-size: cover;
  background-position: center;

  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

li {
  list-style: none; 
}

footer img {
  bottom: 0;
  height: 300px; 
  width: 100%; 
}

ul a {
  padding-top: 1px; 
}

table {
  padding-bottom: 40px;
}

form {
  padding-top: 30px;
}
